[Desktop Entry]
Encoding=UTF-8
Name=Ethereal
Comment=Traffic Analyser
Exec=ethereal
Terminal=false
Type=Application
Categories=System;Monitor
X-ROCK-Name=ethereal
