[Desktop Entry]
Encoding=UTF-8
Name=Thunderbird
Comment=Mozillas Standalone MUA
Exec=thunderbird
Terminal=false
Type=Application
Categories=Office;Email
X-ROCK-Name=thunderbird
Icon=D_prefix/lib/thunderbird-D_ver/icons/mozicon16.xpm
