[Desktop Entry]
Encoding=UTF-8
Name=screen
Comment=Console Multiplexer
Exec=screen -
Terminal=true
Type=Application
Categories=Utility
X-ROCK-Name=screen
