[Desktop Entry]
Encoding=UTF-8
Name=Soundtracker
Comment=XM and MOD Mixer
Exec=soundtracker
Terminal=false
Type=Application
Categories=Audio;Music
X-ROCK-Name=soundtracker
