[Desktop Entry]
Encoding=UTF-8
Name=TuxKart
Comment=a kart racing game
Exec=tuxkart
Terminal=false
Type=Application
Categories=Game;Simulation
X-ROCK-Name=tuxkart
