[Desktop Entry]
Encoding=UTF-8
Name=Geki 3
Comment=action shooter
Exec=geki3
Terminal=false
Type=Application
Categories=Game;ArcadeGame
X-ROCK-Name=geki3
