[Desktop Entry]
Encoding=UTF-8
Name=Torcs
Comment=A 3D racing cars simulator using OpenGL
Exec=torcs
Terminal=false
Type=Application
Categories=Game;Simulation
X-ROCK-Name=torcs
