[Desktop Entry]
Encoding=UTF-8
Name=LPairs
Comment=a Memory-like strategy game
Exec=lpairs
Terminal=false
Type=Application
Categories=Game;LogicGame
X-ROCK-Name=lpairs
