[Desktop Entry]
Encoding=UTF-8
Name=SuperTux
Comment=Remake of Mario Bros. starring Tux
Exec=supertux
Terminal=false
Type=Application
Categories=Game;ArcadeGame
X-ROCK-Name=supertux
Icon=D_datadir/supertux/images/icon.xpm
