[Desktop Entry]
Encoding=UTF-8
Name=Barrage
Comment=Point-and-Click Arcade
Exec=barrage
Terminal=false
Type=Application
Categories=Game;ArcadeGame
X-ROCK-Name=barrage
