[Desktop Entry]
Encoding=UTF-8
Name=GnomeICU
Comment=ICQ Client
Exec=gnomeicu
Terminal=false
Type=Application
Categories=Network;InstantMessaging
X-ROCK-Name=gnomeicu
Icon=D_datadir/pixmaps/gnome-gnomeicu.png
