[Desktop Entry]
Encoding=UTF-8
Name=ScummVM
Comment=Engine for old LucasArts games
Exec=scummvm
Terminal=false
Type=Application
Categories=Emulator
X-ROCK-Name=scummvm
