[Desktop Entry]
Encoding=UTF-8
Name=Quake II
Comment=A popular First Person Shooter by ID-Games
Exec=quake2
Terminal=false
Type=Application
Categories=Game;ActionGame
X-ROCK-Name=quake2
