[Desktop Entry]
Encoding=UTF-8
Name=Squaroid
Comment=a tactical board game
Exec=squaroid
Terminal=false
Type=Application
Categories=Game;BoardGame
X-ROCK-Name=squaroid
