[Desktop Entry]
Encoding=UTF-8
Name=fishfillets
Comment=A classic puzzle game
Exec=fillets
Terminal=false
Type=Application
Categories=Game;LogicGame
X-ROCK-Name=fishfillets
